@model CC98.LogOn.ViewModels.ZjuSso.ResetPasswordViewModel

<input id="user-name-input" type="hidden" asp-for="CC98UserName" />

<div class="form-group">
	<label asp-for="CC98NewPassword" class="control-label">新密码</label>
	<input asp-for="CC98NewPassword" type="password" class="form-control"/>
	<span asp-validation-for="CC98NewPassword" class="text-danger"></span>
</div>

<div class="form-group">
	<label asp-for="CC98ConfirmPassword" class="control-label">确认新密码</label>
	<input asp-for="CC98ConfirmPassword" type="password" class="form-control"/>
	<span asp-validation-for="CC98ConfirmPassword" class="text-danger"></span>
</div>