@{
	ViewBag.Title = "首页";
	/*首页改成文件名*/
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
	
</head>
<body style="background-color:#efefef;clear:both;">
	<div class="container" style="margin:50px;background-color:#efefef; clear:both;" >
		<div class="row">
			<div class="col-xs-3" style="height:500px; border:1px solid #ccc;box-shadow: 3px 3px 3px #888888; padding-top:50px;background-color:#fafafa" >
				<img src="http://tb.himg.baidu.com/sys/portrait/item/1120d91d?t=1424437484"
					 class="img-circle" style="float:left;height:100px;width:100px">
				<div style="float:left;margin:10px;">
					<h3>用户名</h3>
					<h4>TA的分享：10</h4>
				</div>
				<!--分享文件这里要能链接到用户主页-->
			</div>
			<div class="col-xs-7" style="text-align:center;box-shadow: 3px 3px 3px #888888; background-color :#fefefe;height:500px;border:5px solid #fefefe;">
				<div style="margin:30% 10%; text-align: center;">
					<img src="http://tb.himg.baidu.com/sys/portrait/item/1120d91d?t=1424437484"
						style="height:100px;width:100px" />
					<!--这个图换成文件格式的png图标--><br />
					<p>文件XXX</p>
				</div>

			</div>
		</div>

	</div>
</body>

