
@{
	ViewBag.Title = "首页";
}
<style type="text/css">


</style>
<h2>我的网盘</h2>
<img src="http://tb.himg.baidu.com/sys/portrait/item/1120d91d?t=1424437484"
	 class="img-thumbnail">
<h5>漠蓝无际</h5>


<div style="display:inline; margin-left:1%;text-align:right;">

	<form class="form-inline" style="float:left;text-align:left;">
		<input id="lefile" type="file" style="display:none; float:left;text-align:left;">
		<div class="input-append">

			<a onclick="$('input[id=lefile]').click();">
				<input id="photoCover" class="btn btn-default" type="text"><span class="btn btn-default" type="button">
					上传文件
				</span>
			</a>
		</div>
	</form>
	<script type="text/javascript">
$('input[id=lefile]').change(function() {
$('#photoCover').val($(this).val());
});
	</script>
	<button class="btn btn-default" type="button">
		新建文件夹
	</button>

	<button data-toggle="modal" href="#download" class="btn btn-default" type="button">
		批量下载

	</button>

	<form class="form-inline" style="float:right;text-align:left;margin-left:10px">
		<div class="form-group">
			<input type="email" class="form-control" id="exampleInputEmail2" placeholder="输入要搜索的文件">
		</div>
		<button type="submit" class="btn btn-default">搜索</button>
	</form>
</div>
<table class="table table-striped" style="margin-top:20px">
	<thead style="border:2px solid #eee">
		<tr>
			<th><input type="checkbox" name="file" /></th>
			<th>文件名称</th>
			<th style="text-align:center">操作</th>
			<th>上传日期</th>
			<th>文件大小</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox" name="file" /></td>
			<td>1</td>
			<td style="text-align:center"><button class="btn-link">下载</button><button class="btn-link" data-toggle="modal" href="#deletefile">删除</button><button class="btn-link" data-toggle="modal" href="#sharefile">分享</button></td>
			<td>Anna</td>
			<td>Anna</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="file" /></td>
			<td>2</td>
			<td style="text-align:center"><button class="btn-link">下载</button><button class="btn-link">删除</button><button class="btn-link">分享</button></td>
			<td>Debbie</td>
			<td>Anna</td>
		</tr>
	</tbody>
</table>

<div id="download" class="modal fade in" style="width:500px;height:300px;position:absolute;margin: 10% 25%;
background-color:#efefef;display:none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>您选择下载以下文件</h3>
	</div>
	<div class="modal-body" style="margin:0px 40px;">
		<ul class="list-group">
			<li class="list-group-item">文件1</li>
			<li class="list-group-item">文件2</li>
		</ul>
		<p>合计：1GB</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-success">确认</a>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
	</div>
</div>
<div id="sharefile" class="modal fade in" style="width:450px;height:350px;position:absolute;margin: 10% 25%;
background-color:#efefef;display:none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>分享文件<small>文件XXX</small></h3>
	</div>
	<div class="modal-body" style="margin-left:20px">
		<h5>链接已创建</h5>
		<input type="text" class="form-control" value="http://pan.baidu.com/s/1hrkN9Ta" />
		<h5>提取码</h5>
		<input type="text" class="form-control" value="ewqeq" />
	</div>
	<div class="modal-footer">
		<span id="copysuccess" style="display:none">复制成功！</span>
		<a href="#" class="btn btn-success">复制链接</a>
		<a href="#" class="btn" data-dismiss="modal">关闭</a>
	</div>
</div>
<div id="deletefile" class="modal fade in" style="width:450px;height:200px;position:absolute;margin: 10% 25%;
background-color:#efefef;display:none;">
	<div class="modal-header">

		<a class="close" data-dismiss="modal">×</a>
		<h4>永久删除以下文件</h4>
	</div>
	<div class="modal-body" style="margin-left:20px">

		<p>文件XXX</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-success">确认</a>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
	</div>
</div>

