@{
	ViewBag.Title = "登录";
}



<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		#LoginForm {
			border: 1px solid #aaa;
			margin: 0 25%;
			margin-top: 10%;
			width: auto;
			padding: 0 3%;
			text-align: center;
		}

		.form-btn {
			margin: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="LoginForm">
			<h2>cc98share<small>正在请求您的授权</small><br /><br /></h2>
			<hr />
			<p>当你单击“确认授权”按钮后，你就可以使用当前的cc98账户登录这个应用平台。cc98share只能知道你登录的用户名，不能获得你的密码和你在cc98上的其他信息（如你的发言和短消息）。</p>
			<hr />
			<button type="button" class="btn btn-primary form-btn">确认授权</button><button type="button" class="btn btn-default form-btn">拒绝授权</button>
		</div>
	</div>
</body>
</html>
