@using System.Globalization
@using Microsoft.AspNet.Mvc.Rendering
@model Game

@{
	ViewBag.Title = string.Format(CultureInfo.CurrentCulture, "编辑赛程 - {0}", Model.Name);
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<form asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id" asp-antiforgery="true">

	@await Html.PartialAsync("_EditPartial")

	<hr />
	<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

	<button type="submit" class="btn btn-default btn-primary">修改赛程</button>
	<button type="reset" class="btn btn-default">重置更改</button>

</form>

@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_AjaxPartial")

}