@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
	ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<br />
<body>
	<form asp-action="Upload" asp-controller="File" asp-antiforgery="true" enctype="multipart/form-data">
		<br />
		<span>上传文件</span>
		<input type="file" name="file" />
		<br />
		<br />
		<button type="submit">Upload</button>
	</form>
</body>