@using CC98
@model Team

@{
	ViewBag.Title = "创建队伍";
	ViewBag.IsEdit = true;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<form asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" method="POST" asp-antiforgery="true">

	@await Html.PartialAsync("_EditPartial")

	<hr/>

	<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

	<button type="submit" class="btn btn-default btn-primary">修改队伍</button>
	<button type="reset" class="btn btn-default">撤销更改</button>

</form>


@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")

	<script type="text/javascript" language="javascript">

		function setDepartmentText(item) {
			$('#department-input').val($(item).data('text'));
		}

	</script>
}