@using CC98

@model IPagedList<Team>
@inject AppSettingService<SystemSetting> SettingService

@{

	var showAdmin = (bool)ViewBag.ShowAdmin;

	ViewBag.Title = "注册球队一览";

	ViewBag.ShowAdmin = User.CanOperate();
	ViewBag.ForceAdmin = true;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>
@if (Model.Any())
{
	@await Html.PartialAsync("_TeamListPartial");
	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-muted text-center">目前还没有任何注册球队</p>
}

<hr />
<a asp-controller="Team" asp-action="Create" class="btn btn-default btn-primary">创建新球队</a>


@if (showAdmin)
{
	@await Html.PartialAsync("_DeleteTeamDialogPartial")
}


@section scripts{

	@await Html.PartialAsync("_AjaxPartial")
}