@model Event

@{

	var isEditMode = (bool)ViewBag.IsEditMode;
}

@if (isEditMode)
{
	<input asp-for="Id" type="hidden" />
}

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">赛事信息</h2>
			</div>

			<div class="panel-body">

				<fieldset id="event-info-fieldset">
					<div class="form-group">
						<label asp-for="Name" class="control-label">赛事名称</label>
						<input asp-for="Name" type="text" class="form-control"/>
						<span asp-validation-for="Name" class="text-danger"></span>
						<p class="help-block">赛事名称将会显示在赛事列表主页。你也可以在稍后修改名称。</p>
					</div>

					<div class="form-group">
						<label asp-for="Type" class="control-label">赛事名称</label>
						<select asp-enum-for="Type" asp-text-source="EnumOptionTextSource.Name" class="form-control">
							<option value="">选择一个赛事类型</option>
						</select>
						<span asp-validation-for="Type" class="text-danger"></span>
						<p class="help-block">赛事类型将影响赛事的相关设定。联赛队伍是固定的，对球员身份具有一定要求，而杯赛可自由组队。</p>
					</div>

					<div class="checkbox">
						<label><input type="checkbox" asp-for="AllowTeamRegistrations"/> 允许队伍自由报名</label>
						<span asp-validation-for="AllowTeamRegistrations"></span>
						<p class="help-block">选中该复选框以允许队伍所有者自主决定报名参加该赛事。赛事审核员可以审核队伍报名资格并决定是否通过报名。如果不选中该复选框，则必须由赛事组织员手动设定参赛队伍。</p>
					</div>

					<div class="form-group">
						<label asp-for="MaxTeamCount" class="control-label">队伍数量</label>
						<input asp-for="MaxTeamCount" type="number" step="1" class="form-control" placeholder="不限制数量"/>
						<span asp-validation-for="MaxTeamCount" class="text-danger"></span>
						<p class="help-block">控制该赛事最多允许多少多少支队伍参与，留空表示不作限制。该选项在队伍自主报名阶段不受影响，仅在后台审核确认参赛队伍阶段起作用。</p>
					</div>

					@if (isEditMode)
					{
						<hr/>
						<div class="form-group">
							<label asp-for="State" class="control-label">赛事状态</label>
							<select asp-enum-for="State" class="form-control" asp-text-source="EnumOptionTextSource.Name"></select>
							<span asp-validation-for="State" class="text-danger"></span>
							<p class="help-block">此处可以修改赛事状态。这可能对赛事管理产生重大影响，请谨慎修改。</p>
						</div>

					}

				</fieldset>

				<fieldset id="addtional-info-fieldset">
					<div class="form-group">
						<label asp-for="Description" class="control-label">赛事说明</label>
						<textarea asp-for="Description" rows="10" class="form-control" placeholder="赛事的主题、规则、注意事项等相关信息的说明"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
						<p class="help-block">赛事说明将会显示在赛事的详细信息页面。你可以在此处填写和赛事相关的详细补充说明信息。</p>
					</div>
					<div class="form-group">
						<label asp-for="Link" class="control-label">赛事链接</label>
						<input asp-for="Link" type="url" class="form-control" />
						<span asp-validation-for="Link" class="text-danger"></span>
						<p class="help-block">赛事链接将会显示在赛事的详细信息页面。如果赛事具有其它官方公告或者说明网页，请在此处提供链接地址。</p>
					</div>
				</fieldset>

			</div>

		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">限制信息</h2>
			</div>

			<div class="panel-body">

				<fieldset id="limitation-info-field-set">

					<div class="form-group">
						<label asp-for="PlayerMin" class="control-label">运动员数量下限</label>
						<input asp-for="PlayerMin" type="number" class="form-control" placeholder="不限"/>
						<span asp-validation-for="PlayerMin" class="text-danger"></span>
						<p class="help-block">控制队伍参赛名单中运动员数量的下限。运动员总数低于这个数量的队伍将无法提交审核。留空表示不做限制。</p>
					</div>

					<div class="form-group">
						<label asp-for="PlayerMax" class="control-label">运动员数量上限</label>
						<input asp-for="PlayerMax" type="number" class="form-control" placeholder="不限"/>
						<span asp-validation-for="PlayerMax" class="text-danger"></span>
						<p class="help-block">控制队伍参赛名单中运动员数量的上限。运动员总数高于这个数量的队伍将无法提交审核。留空表示不做限制。</p>
					</div>

					<div class="form-group">
						<label asp-for="ProfessionalMax" class="control-label">专业运动员数量上限</label>
						<input asp-for="ProfessionalMax" type="number" class="form-control" placeholder="不限"/>
						<span asp-validation-for="ProfessionalMax" class="text-danger"></span>
						<p class="help-block">控制队伍参赛名单中运动员数量的上限。专业运动员总数高于这个数量的队伍将无法提交审核。留空表示不做限制。专业运动员由运动员报名时自行标记。</p>
					</div>

					<div class="form-group">
						<label asp-for="ForeignMax" class="control-label">外籍运动员数量上限</label>
						<input asp-for="ForeignMax" type="number" class="form-control" placeholder="不限"/>
						<span asp-validation-for="ForeignMax" class="text-danger"></span>
						<p class="help-block">控制队伍参赛名单中外籍运动员数量的上限。外籍运动员总数高于这个数量的队伍将无法提交审核。留空表示不做限制。外籍运动员通过运动员报名时填写的国籍状态进行判断。</p>
					</div>

					<div class="form-group">
						<label asp-for="ExternalMax" class="control-label">外援数量上限</label>
						<input asp-for="ExternalMax" type="number" class="form-control" placeholder="不限" />
						<span asp-validation-for="ExternalMax" class="text-danger"></span>
						<p class="help-block">控制队伍参赛名单中外援数量的上限。外援总数高于这个数量的队伍将无法提交审核。留空表示不做限制。外援通过运动员报名时填写的单位信息和球队的单位信息对比进行判断。</p>
					</div>

				</fieldset>


			</div>

		</div>
	</div>

</div>