@using Microsoft.AspNet.Mvc.ViewFeatures

@model Event

@{
	ViewBag.Title = "创建赛事";

	var viewData = new ViewDataDictionary<Event>(ViewData, Model);
	ViewData["IsEditMode"] = false;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<form method="POST" asp-antiforgery="true">

	@await Html.PartialAsync("_EditPartial", viewData)

	<hr/>

	<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger">
	</div>

	<button type="submit" class="btn btn-default btn-primary">创建赛事</button>
	<button type="reset" class="btn btn-default">撤销修改</button>

</form>

@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")

}