
<link href="~/lib/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/lib/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />

<div id="file-upload-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">上传文件</h4>
			</div>
			<div class="modal-body">


				<form id="file-upload-form" asp-controller="File" asp-action="Upload" method="post" enctype="multipart/form-data">

					<p>请通过下面的 <q>添加文件</q> 按钮上传文件。在上传文件完毕后，请点击<q>确认</q>按钮。</p>

					<hr />

					<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
					<div class="row fileupload-buttonbar">
						<div class="col-md-12">
							<!-- The fileinput-button span is used to style the file input field as button -->
							<span class="btn btn-success fileinput-button">
								<i class="glyphicon glyphicon-plus"></i>
								<span>添加文件</span>
								<input type="file" name="files" multiple="multiple" />
							</span>
							<button type="submit" class="btn btn-primary start">
								<i class="glyphicon glyphicon-upload"></i>
								<span>开始上传</span>
							</button>
							<button type="reset" class="btn btn-warning cancel">
								<i class="glyphicon glyphicon-ban-circle"></i>
								<span>取消上传</span>
							</button>

							<!-- The global file processing state -->
							<span class="fileupload-process"></span>
						</div>
					</div>
					<!-- The table listing the files available for upload/download -->
					<table id="files-table" role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default btn-primary" onclick="finishUpload();">结束上传</button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" language="javascript">

	// 回调元素选择器。
	var callbackFunc = null;

	function beginUploadFile(callbackFunction) {

		callbackFunc = callbackFunction;
		$('#file-upload-modal').modal();
		$('#file-upload-form').fileupload();
		beginUpload('#file-upload-form');
	}

	function finishUpload() {
		$('#file-upload-modal').modal('hide');
		callbackFunc();
	}

	function getUploadFiles() {

		var result = new Array();

		$('#files-table').find('.name').each(function (index, item) {

			var url = $(item).find('a').attr('href');

			result.push(url);
		});

		return result;
	}

</script>