@model MemberType

@switch (Model)
{
	case MemberType.Player:
		<span class="label label-success">运动员</span>
		break;
	case MemberType.Skipper:
		<span class="label label-primary">领队</span>
		break;
	case MemberType.Officer:
		<span class="label label-default">官员</span>
		break;
	case MemberType.Coach:
		<span class="label label-info">教练</span>
		break;
}