<div class="modal fade" id="title-placeholder-dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">标题字符串占位符</h4>
			</div>
			<div class="modal-body">
				<p>
					比赛的标题格式是一个<q>复合格式字符串</q>，其中包含了若干预定义的内容和若干待填充部分。每个待填充部分使用编号表示其具体填充内容。例如，对小组赛的标题格式使用 <code>小组赛第 {0} 轮 - {7} VS {8}</code> 将产生 <code>小组赛第 1 轮 - CC98 1 队 VS CC98 2 队</code>。有关复合格式生成的具体规范，请参考 MSDN 上的帮助主题 <a href="https://msdn.microsoft.com/zh-cn/library/txafckwd(v=vs.110).aspx">.NET Framework 复合格式设置</a>。可选的待填充内容由下表所示。
				</p>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">小组赛可以使用的占位符</h4>
					</div>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>编号</th>
							<th>含义</th>
							<th>备注</th>
						</tr>
						</thead>
						<tbody>

						<tr>
							<th>0</th>
							<td>小组赛轮次编号</td>
							<td>该比赛在小组赛的轮次编号，第一轮比赛为 1，以此类推。</td>
						</tr>
						<tr>
							<th>1</th>
							<td>总轮次编号</td>
							<td>该比赛在所有比赛中的总轮次编号，第一轮比赛为 1，以此类推。</td>
						</tr>
						<tr>
							<th>2</th>
							<td>分组名</td>
							<td>仅对小组赛有效，表示参加比赛的两支队伍所属的共同分组，如<q>A</q>。</td>
						</tr>
						<tr>
							<th>3</th>
							<td>队伍 1 分组号</td>
							<td>仅对小组赛有效，表示第一支参赛队伍的分组号，如 <q>A1</q>。</td>
						</tr>
						<tr>
							<th>4</th>
							<td>队伍 2 分组号</td>
							<td>仅对小组赛有效，表示第二支参赛队伍的分组号，如 <q>A2</q>。</td>
						</tr>
						<tr>
							<th>5</th>
							<td>队伍 1 编号</td>
							<td>表示第一支参赛队伍的编号，如 <q>T001</q>。</td>
						</tr>
						<tr>
							<th>6</th>
							<td>队伍 2 编号</td>
							<td>表示第二支参赛队伍的编号，如 <q>T002</q>。</td>
						</tr>
						<tr>
							<th>7</th>
							<td>队伍 1 名称</td>
							<td>表示第一支参赛队伍的名称，如 <q>CC98 1 号队</q>。</td>
						</tr>
						<tr>
							<th>8</th>
							<td>队伍 2 名称</td>
							<td>表示第二支参赛队伍的名称，如 <q>CC98 2 号队</q>。</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">淘汰赛可以使用的占位符</h4>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>编号</th>
								<th>含义</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th>0</th>
								<td>淘汰赛轮次编号</td>
								<td>该比赛在淘汰赛的轮次编号，第一轮比赛为 1，以此类推。</td>
							</tr>
							<tr>
								<th>1</th>
								<td>总轮次编号</td>
								<td>该比赛在所有比赛中的总轮次编号，第一轮比赛为 1，以此类推。</td>
							</tr>
							<tr>
								<th>2</th>
								<td>淘汰赛类型</td>
								<td>淘汰赛类型是根据淘汰赛级别和参赛队伍关系产生的一段文字，如<q>总决赛</q>、<q>胜者组半决赛</q>、<q>败者组1/4决赛</q>等。</td>
							</tr>
							<tr>
								<th>3</th>
								<td>比赛编号</td>
								<td>淘汰赛的比赛编号，第一场比赛为 1，以此类推。</td>
							</tr>
							<tr>
								<th>4</th>
								<td>队伍 1 名称</td>
								<td>第一支参赛队伍的名称。淘汰赛的参赛队伍名称使用比赛间产生的胜败关系表示，如 <q>#3 胜者</q>。第一轮淘汰赛将使用<q>待定</q> 作为队伍名称。</td>
							</tr>
							<tr>
								<th>5</th>
								<td>队伍 2 名称</td>
								<td>第二支参赛队伍的名称。淘汰赛的参赛队伍名称使用比赛间产生的胜败关系表示，如 <q>#3 胜者</q>。第一轮淘汰赛将使用<q>待定</q> 作为队伍名称。</td>
							</tr>

						</tbody>
					</table>
				</div>


			</div>
			<div class="modal-footer">
				<p class="text-danger" id="dialog-error-text"></p>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" language="javascript">

	function showTitlePlaceHolderInfo() {
		$('#title-placeholder-dialog').modal();
	}

</script>