@model TeamMemberApplyViewModel

@{
	var teams = (IEnumerable<Team>)ViewBag.Teams;
	var member = (Member)ViewBag.Member;

	var teamSelectList = new SelectList(teams, nameof(Team.Id), nameof(Team.Name));
}

<form asp-controller="Team" asp-action="InviteMember" asp-antiforgery="true" method="post" id="invite-member-form">

	<div class="modal fade" id="invite-member-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">邀请加入球队</h4>
				</div>
				<div class="modal-body">

					<p>你可以邀请任意多个成员加入球队，包括已经加入其他球队的成员。加入球队并不表示该成员将被你的球队独有，但在参加某一场赛事时，如果有人同时属于两只球队，则只能代表其中一支球队参与赛事。</p>

					<div>

						<div class="form-group">
							<input type="hidden" asp-for="MemberId" value="@member.Id" />
							<label asp-for="MemberId" class="control-label">要邀请的球员</label>
							<input type="text" readonly="readonly" class="form-control" value="@member.Name"/>
						</div>

						<div class="form-group">
							<label asp-for="TeamId" class="control-label">要邀请的球队</label>
							<select asp-for="TeamId" asp-items="teamSelectList" asp-option-label="选择一支球队" class="form-control"></select>
							<span asp-validation-for="TeamId" class="text-danger"></span>
							<p class="help-block">选择要申请加入的球队。如果你在列表中看不到任何内容，请先<a asp-controller="Team" asp-action="Create">创建一支球队</a>。
							</p>
						</div>

						<div class="form-group">
							<label asp-for="Reason" class="control-label">邀请理由</label>
							<textarea asp-for="Reason" rows="3" class="form-control"></textarea>
							<span asp-validation-for="Reason" class="text-danger"></span>
							<p class="help-block">在此处填写邀请的理由。对方将会看到你的理由，这有助于他更好地做出决定。</p>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<span class="text-danger" id="invite-member-error-text"></span>
					<button type="submit" class="btn btn-primary">提交邀请</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</form>