@model SystemSetting

@{
	ViewBag.Title = "功能设定";
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="Sakura.AspNet.Mvc.Messages.MessageListStyle.AlertDialogClosable"></div>

<div class="alert alert-warning"><strong>警告：</strong>在这个页面执行的大部分功能会影响整个系统的运行，在操作前请谨慎决定。</div>

<div class="row">
	<div class="col-md-6">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">用户审核申请</h2>
			</div>
			<div class="panel-body">
				<p>指定是否开放用户审核申请。如果关闭该功能，用户将无法在主界面申请审核自己提交的个人资料。审核员仍然可以审核已经提交但尚未审核的申请，或者对已有审核结果进行修改。必要时，操作员可以通过编辑用户资料手动修改用户的申请状态。</p>

				<p>
					<strong>
						<span>目前用户审核申请功能状态：</span>

						@if (Model.OpenUserReviewRequest)
						{
							<span class="text-success">开放中</span>
						}
						else
						{
							<span class="text-danger">关闭中</span>
						}
					</strong>
				</p>

				<form asp-controller="Manage" asp-action="SetUserReviewRequest" asp-antiforgery="true">

					@if (Model.OpenUserReviewRequest)
					{
						<input type="hidden" name="value" value="false"/>
						<button type="submit" class="btn btn-primary">关闭用户审核申请</button>
					}
					else
					{
						<input type="hidden" name="value" value="true"/>
						<button type="submit" class="btn btn-primary">开放用户审核申请</button>
					}

				</form>

				<hr />

				<p>当新的赛事开始时，如果管理团队需要重新审核所有成员，你可以单击下面的按钮将所有成员的审核状态全部重置为<q>未审核</q>。</p>

				<form asp-controller="Manage" asp-action="ResetAllMemberAuditState" asp-antiforgery="true" onsubmit="return confirm('这将会使所有成员的审核状态变成未提交状态。这个操作不能撤销。你确定要继续吗？');">
					<button type="submit" class="btn btn-danger">重置所有成员的审核状态</button>
				</form>


			</div>
		</div>

	</div>

	<div class="col-md-6">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">球队审核申请</h2>
			</div>
			<div class="panel-body">
				<p>指定是否开放球队审核申请。如果关闭该功能，球队领队将无法在主界面申请审核球队参赛资料。审核员仍然可以审核已经提交但尚未审核的申请，或者对已有审核结果进行修改。必要时，操作员可以通过编辑球队参赛资料手动修改球队的申请状态。</p>

				<p>
					<strong>
						<span>目前球队审核申请功能状态：</span>

						@if (Model.OpenTeamReviewRequest)
						{
							<span class="text-success">开放中</span>
						}
						else
						{
							<span class="text-danger">关闭中</span>
						}
					</strong>
				</p>

				<form asp-controller="Manage" asp-action="SetTeamReviewRequest" asp-antiforgery="true">

					@if (Model.OpenTeamReviewRequest)
					{
						<input type="hidden" name="value" value="false" />
						<button type="submit" class="btn btn-primary">关闭球队审核申请</button>
					}
					else
					{
						<input type="hidden" name="value" value="true" />
						<button type="submit" class="btn btn-primary">开放球队审核申请</button>
					}

				</form>

			</div>
		</div>

	</div>
</div>