@using System.Globalization

@model ManageMeViewModel

@{
	ViewBag.Title = "个人注册信息一览";
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<h2>注册成员信息</h2>
<p>下表中列出了你目前在系统中登记注册的成员信息。</p>

@if (Model.Members.Any())
{
	ViewBag.ShowAdmin = true;
	ViewBag.ShowAuditState = true;
	ViewBag.ForceAdmin = false;
	@await Html.PartialAsync("_MemberListPartial", Model.Members)
}
else
{
	<p class="text-center text-muted">目前你还没有在系统中登记任何成员信息</p>
}

<a asp-controller="Member" asp-action="Create" class="btn btn-default btn-primary">注册成员</a>

@await Html.PartialAsync("_DeleteMemberDialogPartial")


<hr />
<h2>注册球队信息</h2>
<p>下表中列出了你目前在系统中登记注册的球队信息。要编辑队伍中的成员，请单击队伍名称进入队伍详细信息页面。</p>

@if (Model.Teams.Any())
{
	ViewBag.ShowAdmin = true;
	ViewBag.ForceAdmin = false;
	@await Html.PartialAsync("_TeamListPartial", Model.Teams)
}
else
{
	<p class="text-center text-muted">目前你还没有在系统中注册任何球队信息</p>
}

<a asp-controller="Team" asp-action="Create" class="btn btn-default btn-primary">注册球队</a>

@await Html.PartialAsync("_DeleteTeamDialogPartial")

<h2>我领导的赛事</h2>
<p>下表中列出了你作为领队报名参加的所有赛事。你可以编辑或者查看赛事的报名表。</p>
@if (Model.EventTeamRegistrations.Any())
{
	ViewBag.ShowTeam = false;
	ViewBag.ShowEvent = true;
	ViewBag.ShowAdmin = true;
	ViewBag.ForceAdmin = false;
	@await Html.PartialAsync("_EventTeamApplyListPartial", Model.EventTeamRegistrations)
}
else
{
	<p class="text-center text-muted">目前你还没有作为领队报名参加过任何赛事。</p>
}
<hr />
<p>要报名参与赛事，请访问 <a asp-controller="Event" asp-action="Index">赛事</a> 主页，查看赛事详细信息并申请报名。</p>

@section scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_AjaxPartial")

	<script type="text/javascript" language="javascript">

		$(document).ready(function () {

			$('#delete-event-apply-form').ajaxForm({

				success: function () {
					window.location.reload();
				},

				error: function (xhr) {
					$('#dialog-error-text').text(getErrorText(xhr));
				}

			});

		});

		function onDeleteEventApply(btn) {

			$('#delete-apply-team-id').val($(btn).data('team-id'));
			$('#delete-apply-event-id').val($(btn).data('event-id'));

			$('#delete-apply-team-name-text').text($(btn).data('team-name'));
			$('#delete-apply-event-name-text').text($(btn).data('event-name'));

			$('#delete-event-apply-dialog').modal();

		}

	</script>
}