@{
	ViewBag.Title = "权限管理";
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<h2>权限组定义</h2>
<p>赛事系统包含的权限组如下表所示。</p>
<table class="table table-striped">
	
	<thead>
		<tr>
			<th>名称</th>
			<th>说明</th>
		</tr>
	</thead>

	<tbody>

		<tr>
			<th>赛事管理员</th>
			<td>赛事管理员可以完全管理赛事系统，具有所有操作的执行权限。</td>
		</tr>

		<tr>
			<th>赛事操作员</th>
			<td>赛事操作员可以使用赛事管理系统的绝大部分功能，但不能修改系统设置或者更改其他用户的操作权限。</td>
		</tr>

		<tr>
			<th>赛事组织员</th>
			<td>赛事组织员可以发起赛事、修改赛事信息以及安排赛事日程。</td>
		</tr>

		<tr>
			<th>赛事审核员</th>
			<td>赛事审核员可以查看用户、球队提交的个人资料，并审核通过或者拒绝注册申请。</td>
		</tr>

	</tbody>

</table>

@if (User.CanAdmin())
{
	<hr />
	<p>赛事系统权限的修改需要在 <a href="https://account.cc98.org">CC98 账户管理中心</a> 中完成。若要为特定用户授予或者收回管理权限，请单击下面的按钮。</p>
	<a class="btn btn-default btn-primary" href="https://account.cc98.org">修改赛事系统权限</a>

}
