@model IPagedList<EventTeamRegistration>

@{
	ViewBag.Title = "待审核参赛申请列表";

	ViewBag.ShowTeam = true;
	ViewBag.ShowEvent = true;
	ViewBag.ShowAdmin = false;
	ViewBag.ForceAdmin = false;
	ViewBag.ShowAuditState = true;
	ViewBag.ReturnUrl = Url.Action();
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

<div class="alert alert-info">该页面列出了所有需要审核的参赛申请。请单击<q>查看详情</q>按钮查看报名的详细信息，并作出审核决定。要查看某场赛事的全部参赛队伍列表，请单击赛事名称进入赛事的详细信息页面。</div>

@if (Model.Any())
{
	@await Html.PartialAsync("_EventTeamApplyListPartial")
	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-muted text-center">目前没有任何需要审核的参赛申请</p>

}
