@model IPagedList<Member>

@{
	ViewBag.Title = "待审核成员列表";

	ViewBag.ShowAdmin = false;
	ViewBag.ForceAdmin = false;
	ViewBag.ShowAuditState = true;
	ViewBag.ReturnUrl = Url.Action();
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

<div class="alert alert-info">该页面列出了所有需要审核的成员。要查看全部成员，请访问 <a asp-controller="Member" asp-action="Index" class="alert-link">成员列表一览</a> 页面。</div>

@if (Model.Any())
{
	@await Html.PartialAsync("_MemberListPartial")
	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-muted text-center">目前没有任何需要审核的成员</p>

}
