@model MemberSearchViewModel

<nav class="navbar navbar-default">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#serach-navbar-collapse" aria-expanded="false">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<span class="navbar-text">搜索成员</span>
	</div>


	<div class="collapse navbar-collapse" id="serach-navbar-collapse">
		<form class="navbar-form navbar-left" role="search" asp-controller="Member" asp-action="Search" asp-antiforgery="false" method="get">
			<div class="form-group">
				<label class="control-label sr-only" asp-for="Name">用户名</label>
				<input asp-for="Name" class="form-control" placeholder="成员姓名" />
			</div>

			<div class="form-group">
				<label class="control-label sr-only" asp-for="Type">注册类型</label>
				<select class="form-control" asp-enum-for="Type" asp-text-source="EnumOptionTextSource.Name"></select>
			</div>

			<button type="submit" class="btn btn-default">搜索</button>
			<button type="reset" class="btn btn-default">重置</button>

		</form>
	</div>
</nav>