@using System.Globalization
@using Microsoft.AspNet.Mvc.ViewFeatures
@using Sakura.AspNet.Mvc.PagedList
@using Sakura.AspNet.Mvc.Messages

@model Sakura.AspNet.IPagedList<Member>

@{
	ViewBag.Title = "注册成员一览";
	var showAdmin = (bool)ViewBag.ShowAdmin;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

@if (Model.Any())
{

	@await Html.PartialAsync("_SearchBarPartial", new MemberSearchViewModel())

	ViewBag.ShowAdmin = showAdmin;
	ViewBag.ShowAuditState = showAdmin;
	ViewBag.ForceAdmin = true;

	var viewData = new ViewDataDictionary(ViewData, Model);


	@await Html.PartialAsync("_MemberListPartial", Model, viewData);

	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-muted text-center">目前还没有任何人在系统中注册</p>
}

<hr />
<a asp-controller="Member" asp-action="Create" class="btn btn-default btn-primary">注册成员</a>

@if (showAdmin)
{
	@await Html.PartialAsync("_DeleteMemberDialogPartial")
}


@section scripts{

	@await Html.PartialAsync("_AjaxPartial")
}