@using System.Globalization
@using Sakura.AspNet.Mvc.PagedList

@model Sakura.AspNet.IPagedList<Member>

@{
	ViewBag.Title = "搜索成员";
	var showAdmin = (bool)ViewBag.ShowAdmin;
	var searchInfo = (MemberSearchViewModel)ViewBag.SearchInfo;
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>
<p class="alert alert-info">这个页面列出了符合搜索条件的所有成员。</p>

@await Html.PartialAsync("_SearchBarPartial", searchInfo)

@if (Model.Any())
{

	ViewBag.ShowAdmin = showAdmin;
	ViewBag.ShowAuditState = showAdmin;
	ViewBag.ForceAdmin = true;
	@await Html.PartialAsync("_MemberListPartial")

	<nav asp-pager-source="Model"></nav>
}
else
{
	<p class="text-muted text-center">没有找到符合要求的成员，请尝试更换搜索条件再试一次</p>
}

@if (showAdmin)
{
	@await Html.PartialAsync("_DeleteMemberDialogPartial")
}


@section scripts{

	@await Html.PartialAsync("_AjaxPartial")
}