@model CC98.LogOn.ViewModels.Account.LogOnViewModel
@{
	ViewBag.Title = "登录";

	var validTimeList = new List<SelectListItem>
	{
		new SelectListItem {Text = "不保存登录信息", Value = "", Selected = true},
		new SelectListItem { Text = "一小时", Value = "1:0:0"},
		new SelectListItem {Text = "一天", Value ="1"},
		new SelectListItem {Text = "一个月", Value = "30"},
		new SelectListItem { Text = "一年", Value = "365"}
	};
}

<h1 class="page-header lead text-center">@ViewBag.Title</h1>

<form asp-antiforgery="true" method="post">

	<div class="form-group">
		<label asp-for="UserName" class="control-label">用户名</label>
		<input asp-for="UserName" type="text" class="form-control" placeholder="你的 CC98 账户名" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password" class="control-label">密码</label>
		<input asp-for="Password" type="password" class="form-control" placeholder="你的 CC98 账户密码" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>


	<div class="form-group">
		<label asp-for="ValidTime" class="control-label">有效期</label>
		<select asp-for="ValidTime" asp-items="validTimeList" class="form-control"></select>
		<span asp-validation-for="ValidTime" class="text-danger"></span>
	</div>

	<hr />

	<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

	<button type="submit" class="btn btn-primary">立即登录</button>
	<button type="reset" class="btn btn-default">重置输入</button>

</form>