
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<br />
<body>
	@using (Html.BeginForm("Upload", "DownUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<br />
		<span>上传文件</span>
		<input type="file" name="file" />
		<br />
		<br />
		<input id="ButtonUpload" type="submit" value="提交" />
	}
</body>