
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Download", "DownUpload"))
{
	<br />
	<p>Download</p>
	@Html.TextBox("URL")
	<br />
	<button type="submit">Download</button>
}