@{
    ViewData["Title"] = "About";
}
<h2>关于cc98Share</h2>
<hr />
<h3>使用条例</h3>
<blockquote>
	<p class="lead">CC98Share由CC98技术组成员开发和维护，作为98用户的文件分享，云储存平台。使用本服务者应当遵守浙江大学CC98论坛章程本论坛用户在论坛章程面前一律平等。本论坛尊重和保障用户的权利，用户享受论坛章程保障的权利，同时必须履行论坛章程规定的义务。</p>
	</blockquote>
<h3>版本信息</h3>

<blockquote>
	<h5>V 1.0.0&nbsp;<small>更新时间：2016年6月30日</small></h5>
	<p>重建98share，提供基本的上传，下载，分享，删除功能</p>
</blockquote>
<h3>开发团队成员</h3>
<blockquote>
	<h5>总负责人&nbsp;&nbsp;<small>樱桃</small></h5>
	<h5>框架逻辑设计&nbsp;&nbsp;<small>平八</small></h5>
	<h5>登录模块&nbsp;&nbsp;<small>提莫</small></h5>
	<h5>前端界面&nbsp;&nbsp;<small>漠蓝</small></h5>
	<h5>数据库&nbsp;&nbsp;<small>Starve</small></h5>
	<h5>分享功能&nbsp;&nbsp;<small>花不如草</small></h5>
	<h5>上传与下载&nbsp;&nbsp;<small>ruiker</small></h5>
</blockquote>
<h3>意见与反馈</h3>
<blockquote>
	<a class="btn btn-default">将您的意见和建议反馈给开发人员</a>
</blockquote>

	