@{
	ViewBag.PageTitle = "关于 CC98Share";
}
<h3>使用条例</h3>
<blockquote>
	<p class="lead">CC98Share由CC98技术组成员开发和维护，作为98用户的文件分享，云储存平台。使用本服务者应当遵守浙江大学CC98论坛章程,本论坛用户在论坛章程面前一律平等。本论坛尊重和保障用户的权利，用户享受论坛章程保障的权利，同时必须履行论坛章程规定的义务。</p>
</blockquote>
<h3>版本信息</h3>

<blockquote>
	<h4>V 1.0.0&nbsp;<small>更新时间：2016年6月30日</small></h4>
	<p>重建CC98share，提供基本的上传，下载，分享，删除功能</p>
</blockquote>
<h3>开发团队成员</h3>
<blockquote>
	<h4>&nbsp;&nbsp;阿汀，花不如草，漠蓝，平八，ruiker，Starve，提莫，樱桃</h4>
	
</blockquote>
<h3>意见与反馈</h3>
<blockquote>
	<a class="btn btn-link" href="http://www.cc98.org/messanger.asp?action=new&touser=Auser">
		<h4>将您的意见和建议反馈给开发人员</h4>
	</a>
</blockquote>