@{
	ViewBag.PageTitle = "关于 CC98Share";
}
<h3>使用条例</h3>
<blockquote>
	<p class="lead">CC98Share是一个供98用户进行文件上传与分享的储存平台，由CC98技术组成员开发并负责维护。<br />
使用本功能者应当遵守CC98论坛章程，其权利受到尊重与保障的同时，也请履行论坛章程规定的义务。<br />
一切解释权归属于浙江大学学生CC98网络协会所有。
</p>
</blockquote>
<h3>版本信息</h3>

<blockquote>
	<h4>V 1.0.0&nbsp;<small>更新时间：2016年6月30日</small></h4>
	<p class="lead">重建CC98share，提供基本的上传，下载，分享，删除功能</p>
</blockquote>
<h3>开发团队成员</h3>
<blockquote>
	<h4>&nbsp;&nbsp;阿汀，花不如草，漠蓝，平八，ruiker，Starve，提莫，樱桃</h4>
	
</blockquote>
<h3>意见与反馈</h3>
<blockquote>
		<h4>前辈如果有任何疑问，可以<a href="https://github.com/sgjsakura/CC98Share/issues">点此前往项目的ISSUE界面</a>留言~</h4>
</blockquote>