@{
    ViewBag.PageTitle = "待开发";
   
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        .btn-file {
            padding: 10px 20px;
            margin: 25px;
        }
    </style>
</head>

<body style="background-color:#efefef;clear:both;">
	<h3 style="text-align:center">尚在维护中</h3>
   @* <div class="container" style="margin:50px;background-color:#efefef; clear:both;">
	<div class="row">
		<div class="col-xs-3" style="height:500px; border:1px solid #ccc;box-shadow: 3px 3px 3px #888888; padding-top:50px;background-color:#fafafa">

			<div style="float:left;margin:10px;">

			   <h4>TA的分享：10</h4>
				</div>*@
                

               @* <div style="display:inline-block">
			<hr style="height:1px;border:none;border-top:1px solid #eee;" />
			<button type="button" class="btn btn-primary btn-file">下载</button>
			<button type="button" class="btn btn-info btn-file">转存</button>
		</div><!--需要添加对应功能-->

	</div>
			<div class="col-xs-7" style="text-align:center; box-shadow: 3px 3px 3px #888888; background-color :#fefefe;height:500px;border:5px solid #fefefe;">
				<div style="margin:30% 10%; text-align: center;">
					<img src="http://tb.himg.baidu.com/sys/portrait/item/1120d91d?t=1424437484"
						 style="height:100px;width:100px" />
					<!--这个图换成文件格式的png图标--><br />
					<p>文件XXX</p>
				</div>

			</div>
		</div>

	</div>*@
</body>

