@using CC98
@using Microsoft.Extensions.OptionsModel

@inject AppSettingService<SystemSetting> SettingService
@inject IOptions<CC98.Sports.AppSetting> AppSetting

@{
	ViewData["Title"] = "主页";
}


<h1 class="page-header lead text-center">@AppSetting.Value.SiteTitle</h1>

<div asp-message-list="MessageListStyle.AlertDialogClosable"></div>

@if (!string.IsNullOrEmpty(SettingService.Current.Announcement))
{
	<p class="h2 text-center text-primary">@SettingService.Current.Announcement</p>
	<hr />
}

<p class="text-info">CC98 赛事管理系统是一个校内的信息化管理平台，管理员和普通校内师生可以通过该平台及时查看校内的赛事活动，并报名参与各项赛事。</p>

<hr />

<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h3>个人资格注册</h3>
				<p>在系统中注册为运动员、领队或比赛官员，并向系统管理员申请资料审核，获得个人永久身份标识。</p>
				<p><a asp-controller="Member" asp-action="Create" class="btn btn-primary">注册成员</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h3>队伍资格注册</h3>
				<p>领队可注册参赛队伍，设定队伍成员、教练、队长和其他相关人员资料，报名参赛并提交参赛名单。</p>
				<p><a asp-controller="Team" asp-action="Create" class="btn btn-primary">注册队伍</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h3>近期赛事一览</h3>
				<p>查看最近即将或正在举行的比赛，了解校内各种体育赛事的时间、场地、人员安排和对阵情况。</p>
				<p><a asp-controller="Game" asp-action="Index" class="btn btn-primary">赛事一览</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<div class="caption">
				<h3>个人信息管理</h3>
				<p>查看你注册、参加的所有赛事和队伍，浏览管理员的审核结果，对参赛和入队邀请进行响应。</p>
				<p><a asp-controller="Manage" asp-action="Me" class="btn btn-primary">资料管理</a></p>
			</div>
		</div>
	</div>
</div>
